.pt-50 {
  margin-top: 50px;
}

.pt-35 {
  padding-top: 35px;
}

.pb-50 {
  margin-bottom: 50px;
}

.pb-15 {
  padding-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1000px;
}

ul.no-style {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 4px 18px;
  background-color: none;
}

header {
  background-color: #000;
  color: #fff;
}
header .header-top .actions {
  display: flex;
  align-items: center;
}
header .header-top .actions .actions-list {
  padding-top: 19px;
}
header .header-top .actions .actions-list ul {
  display: flex;
}
header .header-top .actions .actions-list ul li {
  font-size: 0.7em;
}
header .header-top .actions .actions-list ul li a {
  color: #fff;
  padding: 0 10px;
}
header .header-top .actions .actions-list ul li a span {
  padding-left: 4px;
}
header .header-top .actions .actions-list ul li a i {
  color: #009cff;
}
header .header-top .actions .languages-selection select {
  font-size: 0.7em;
  text-transform: capitalize;
}
header .header-bottom {
  display: flex;
  align-items: center;
}
header .header-bottom .title-nav {
  display: flex;
  align-items: center;
}
header .header-bottom .title-nav h3 {
  font-size: 1.4em;
  font-weight: 300;
}
header .header-bottom .title-nav nav .nav-list {
  padding-top: 11px;
}
header .header-bottom .title-nav nav .nav-list ul {
  display: flex;
  align-items: center;
}
header .header-bottom .title-nav nav .nav-list ul li {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0 20px;
}
header .header-bottom .title-nav nav .nav-list ul li a {
  color: #fff;
}

.jumbo {
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.jumbo img {
  width: 210px;
}
.jumbo p.subtitle {
  font-size: 1.1em;
}
.jumbo p.pink {
  color: #c70eb8;
  font-style: italic;
}
.jumbo p.pink.first {
  font-size: 0.8em;
  margin-bottom: 0;
}
.jumbo p.pink.second {
  font-size: 1em;
}
.jumbo button.black {
  background-color: #000;
  color: #fff;
  margin-right: 12px;
  border: 2px solid #000;
}
.jumbo button.transparent {
  background-color: transparent;
  border: 1px solid #000;
}

.contents {
  background-color: #e8e8e8;
}
.contents .row.more-painting h2 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
}
.contents .row.products {
  margin: 0 -30px;
}
.contents .row.products img {
  width: 100%;
  height: 155px;
}
.contents .row.products .description {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}
.contents .row.products .description h5 {
  font-size: 1em;
  padding-bottom: 7px;
}
.contents .row.products .description h5 span {
  text-transform: uppercase;
  color: #009cff;
  font-style: italic;
  padding-right: 4px;
}
.contents .row.products .description p {
  font-size: 0.8em;
}
.contents .row.products .description a {
  font-size: 0.8em;
  color: #009cff;
}
.contents .row.main-products .wacom-description, .contents .row.main-products .painter-description, .contents .row.main-products .business-description {
  color: #fff;
  padding-left: 35px;
  padding-top: 50px;
}
.contents .row.main-products .wacom-description button, .contents .row.main-products .painter-description button, .contents .row.main-products .business-description button {
  color: #33336e;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
}
.contents .row.main-products .wacom-description {
  background-color: #3c1567;
}
.contents .row.main-products .painter-description {
  background-color: #3c3c3c;
}
.contents .row.main-products .business-description {
  background-color: #009cff;
}
.contents .row.main-products .image {
  height: 310px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contents .row.main-products .image-first {
  background-image: url("../img/wacom-painter.jpg");
}
.contents .row.main-products .image-first img {
  padding-top: 15px;
  width: 360px;
}
.contents .row.main-products .image-second {
  background-image: url("../img/painter-master.jpg");
}
.contents .row.main-products .image-third {
  background-image: url("../img/business-education.jpg");
}
.contents .row.actions-list ul li {
  font-size: 0.7em;
  line-height: 2.2em;
}
.contents .row.actions-list .social {
  display: flex;
}
.contents .row.actions-list .social .social-box {
  width: 28px;
  height: 28px;
  margin-right: 7px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .row.actions-list .social .social-box i {
  color: #fff;
  font-size: 1.2em;
}
.contents .row.actions-list .social .social-box.ig {
  background-color: #e4405f;
}
.contents .row.actions-list .social .social-box.fb {
  background-color: #3b5998;
}
.contents .row.actions-list .social .social-box.tw {
  background-color: #1da1f2;
}
.contents .row.actions-list .social .social-box.yt {
  background-color: #cd201f;
}
.contents .row.actions-list .social .social-box.pi {
  background-color: #bd081c;
}
.contents .row.actions-list .social .social-box.rss {
  background-color: #ff8d00;
}
