*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1000px;
}

ul.no-style{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  @include button-style;
}
