header{
  background-color: $second-background-color;
  color: $second-color;
    .header-top{
      .actions{
        @include flex-align-center;
        .actions-list{
          padding-top: 19px;
          ul{
            display: flex;
            li{
              font-size: 0.7em;
              a{
                color: $second-color;
                padding: 0 10px;
                span{
                  padding-left: 4px;
                }
                i{
                  color: $third-color;
                }
              }
            }
          }
        }
        .languages-selection{
          select{
            font-size: 0.7em;
            text-transform: capitalize;
          }
        }
      }
    }
    .header-bottom{
      @include flex-align-center;
      .title-nav{
        @include flex-align-center;
        h3{
          font-size: 1.4em;
          font-weight: 300;
        }
        nav{
          .nav-list{
            padding-top: 11px;
            ul{
              @include flex-align-center;
              li{
                font-size: 0.8em;
                font-weight: 300;
                text-transform: capitalize;
                padding: 0 20px;
                a{
                  color: $second-color;
                }
              }
            }
          }
        }
      }
    }
}
