.jumbo{
  background-image: url('../img/bg-painter-home.jpg');
  @include background-cover;
  padding: 80px 0;
  img{
  width: 210px;
  }
  p.subtitle{
    font-size: 1.1em;
  }
  p.pink{
    color: #c70eb8;
    font-style: italic;
  }
  p.pink.first{
    font-size: 0.8em;
    margin-bottom: 0;
  }
  p.pink.second{
    font-size: 1em;
  }
  button.black{
    background-color: #000;
    color: #fff;
    margin-right: 12px;
    border: 2px solid $first-color;
  }
  button.transparent{
    background-color: transparent;
    border: 1px solid $first-color;
  }
}
