.contents{

  background-color: #e8e8e8;

  .row.more-painting{

    h2{
      text-align: center;
      font-size: 1.6em;
      font-weight: 400;
    }
  }

  .row.products{
    margin: 0 -30px;

    img{
      width: 100%;
      height: 155px;
    }

    .description{
      width: 100%;
      background-color: #fff;
      padding: 20px;

      h6{

        span{
          text-transform: uppercase;
          color: $third-color;
          font-style: italic;
          padding-right: 4px;
        }
        font-size: 1em;
        padding-bottom: 7px;
      }

      p{
        font-size: 0.8em;
      }

      a{
        font-size: 0.8em;
        color: $third-color;
      }
    }
  }

  .row.main-products{
    .wacom-description, .painter-description, .business-description{
      color: $second-color;
      padding-left: 35px;
      padding-top: 50px;

      button{
        @include btn-main;
      }
    }

    .wacom-description{
      background-color: #3c1567;
    }

    .painter-description{
      background-color: #3c3c3c;
    }

    .business-description{
      background-color: $third-color;
    }

    .image{
      height: 310px;
      @include background-cover;
    }

    .image-first{
      background-image: url('../img/wacom-painter.jpg');

      img{
        padding-top: 15px;
        width: 360px;
      }
    }

    .image-second{
      background-image: url('../img/painter-master.jpg');
    }

    .image-third{
      background-image: url('../img/business-education.jpg')
    }
  }

  .row.actions-list{
    ul{
      li{
        font-size: 0.7em;
        line-height: 2.2em;
      }
    }

    .social{
      display: flex;

      .social-box{
        width: 28px;
        height: 28px;
        margin-right: 7px;
        background-color: red;
        @include flex-align-center;
        justify-content: center;

        i{
          color: $second-color;
          font-size: 1.2em;
        }

      }

      .social-box.ig{
        background-color: #e4405f;
      }

      .social-box.fb{
        background-color: #3b5998;
      }

      .social-box.tw{
        background-color: #1da1f2;
      }

      .social-box.yt{
        background-color: #cd201f;
      }

      .social-box.pi{
        background-color: #bd081c;
      }

      .social-box.rss{
        background-color: #ff8d00;
      }
    }


  }
}
