.contents{
  background-color: #e8e8e8;
  .row.more-painting{
    padding-bottom: 20px;
    padding-top: 32px;
    h2{
      text-align: center;
      font-size: 1.6em;
      font-weight: 400;
    }
  }
  .row.products{
    img{
      width: 100%;
    }
    .description{
      width: 100%;
      background-color: #fff;
      padding: 20px;
      h5{
        span{
          text-transform: uppercase;
          color: $third-color;
          font-style: italic;
          padding-right: 4px;
        }
        font-size: 1em;
        padding-bottom: 7px;
      }
      p{
        font-size: 0.8em;
      }
      a{
        font-size: 0.8em;
        color: $third-color;
      }
    }
  }
  .row.main-products{
    .image-first{
      background-image: url('../img/wacom-painter.jpg');
    }
    .image-second{
      background-image: url('../img/painter-master.jpg');
    }
    .image-third{
      background-image: url('../img/business-education.jpg')
    }
    .image{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
