$padding-directions: pt, pb;
@each $padding in $padding-directions {
  @for $i from 1 through 10 {
    .#{$padding}-#{$i*5} {
      @if $padding == pt {
        padding-top: 5px * $i;
      } @else {
        padding-bottom: 5px * $i;
      }
    }
  }
}

// @for $i from 1 to 10 {
//   .pt-#{$i*5} {
//     padding-top: 5px * $i;
//   }
// }
//
// @for $i from 1 to 10 {
//   .pb-#{$i*5} {
//     padding-top: 5px * $i;
//   }
// }
